.form {
  margin-left: 25%;
  margin-right: 25%;
}

/* .bod {
	/* font-family: sans-serif;
	background-image: url('../images/2021-07_Web2_Banners_DaaS.jpg'); 
	
} */

.containersss {
  position: absolute;
  width: 350px;
  height: 660px;
  top: 125px;
  left: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 950px;
  height: 930px;
  padding: 60px 35px 35px 35px;
  border-radius: 25px;
  background-color: rgba(8, 8, 8, 0.7);
  box-shadow: 0 0 8px rgb(245, 242, 242);
}

.containerss h5 {
  font-size: 2.2rem;
  color: rgb(224, 220, 220);
  margin-bottom: 1px;
  margin-left: 200px;
}

.containerss label {
  font-weight: 350;
  color: white;
}

.containerss input {
  max-width: 600px;
  width: 600px;
  height: 40px;
  background-color: rgb(175, 173, 173);
  margin: 1px 0;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.1rem;
  position: relative;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 18px;
}

.containerss input placeholder {
  color: white;
  font-weight: 500;
  border: none;
  outline: none;
  background: none;
  width: 50%;
  font-size: 18px;
  color: white;
  padding: 20px 10px 20px 5px;
  margin-bottom: 30px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.containerss button {
  outline: none;
  border: none;
  cursor: pointer;
  width: 30%;
  height: 40px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  color: #fff;
  text-align: center;
  background-color: rgba(8, 8, 8, 0.7);
  box-shadow: 3px 3px 8px #10b48e, -3px -3px 8px #10b48e;
  transition: all 0.5s;
  margin-left: 110px;
}

.containersss button:hover {
  background-color: #10b48e;
}

.containerss button:active {
  background-color: #88ef9e;
}

.containerss buttons {
  outline: none;
  border: none;
  cursor: pointer;
  width: 30%;
  height: 40px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  color: #fff;
  text-align: center;
  background-color: rgba(8, 8, 8, 0.7);
  box-shadow: 3px 3px 8px #e01212, -3px -3px 8px #e01212;
  transition: all 0.5s;
  margin-left: 50px;
}

.containerss buttons:hover {
  background-color: #e01212;
}

.containerss buttons:active {
  background-color: #e31313;
}
