.input {
    outline: none;
    border: none;
    width: 250px;
    padding: 15px;
    border-radius: 10px;
    background-color: #edf5f3;
    margin: 5px 0;
    font-size: 14px;
  }
  
  .g_button {
    border: none;
    outline: none;
    padding: 12px 0;
    background-color: #b41010;
    border-radius: 10px;
    width: 100px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
  }
  
  .can_btn {
    border: none;
    outline: none;
    padding: 12px 0;
    background-color: #b41010;
    /* background-image: linear-gradient(to left, #693639,#212429); */
    color: white;
    border-radius: 10px;
    width: 100px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    margin: 10px auto;
  }
  
  .g_button {
    background-color: #10B48E;
    /* background-color: #6c757d; */
    color: white;
    margin: 10px;
  }
  
  .g_button:hover {
    /* box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px; */
    transform: scale(1.05) rotate(-1deg);
  }
  
  .can_btn:hover {
    /* box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px; */
    transform: scale(1.05) rotate(-1deg);
  }